S2 - PHYSICIAN/WebContent/WEB-INF/services/PhysicianService/META-INF/PhysicianService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PhysicianService" targetNamespace="http://www.PAHopital.org/PhysicianService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.PAHopital.org/PhysicianService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.PAHopital.org/PhysicianService/">
      <xsd:element name="ExaminationReports">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="LabReport">
       		  <xsd:complexType>
          	    <xsd:sequence>
                  <xsd:element name="LabOrderID" type="xsd:string"/>
                  <xsd:element name="PatientID" type="xsd:string"/>
                  <xsd:element name="SampleID" type="xsd:string"/>
                  <xsd:element maxOccurs="unbounded" name="LabValues">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="LabParameter" type="xsd:string"/>
                        <xsd:element name="LabValue" type="xsd:decimal"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="RadiologyReport">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="PatientID" type="xsd:string"/>
                  <xsd:element name="RadiologyOrderID" type="xsd:string"/>
                  <xsd:element name="DateOfExamination" type="xsd:date"/>
                  <xsd:element name="ReportText" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DischargeLetter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="body" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DischargeLetterResponse">
    <wsdl:part name="DischargeLetter" element="tns:DischargeLetter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DischargeLetterRequest">
    <wsdl:part name="ExaminationReports" element="tns:ExaminationReports">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PhysicianService">
    <wsdl:operation name="RequestDischargeLetter">
      <wsdl:input message="tns:DischargeLetterRequest">
    </wsdl:input>
      <wsdl:output message="tns:DischargeLetterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhysicianServiceSOAP" type="tns:PhysicianService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestDischargeLetter">
      <soap:operation soapAction="http://www.PAHopital.org/PhysicianService/RequestDischargeLetter"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhysicianService">
    <wsdl:port name="PhysicianServiceSOAP" binding="tns:PhysicianServiceSOAP">
      <soap:address location="http://localhost:9080/S2_-_PHYSICIAN/services/PhysicianService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
